@page
@model Projet.Pages.Blacklist.CreateModel

<h2>🚫 Ajouter un fournisseur à la blacklist</h2>

<form method="post">
    <div class="mb-3">
        <label>ID Fournisseur</label>
        <input asp-for="Entry.IdSupplier" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Motif</label>
        <textarea asp-for="Entry.Reason" class="form-control"></textarea>
    </div>

    <button class="btn btn-danger">
        Ajouter
    </button>
</form>
