@page
@model Projet.Pages.Blacklist.CreateModel


<h3 class="text-center text-danger mb-4">
    🚫 Ajouter un fournisseur à la blacklist
</h3>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-lg border-0 rounded-4">
            <div class="card-body p-4">

                <form method="post">

                    <div class="mb-3">
                        <label class="form-label fw-semibold text-secondary">
                            ID Fournisseur
                        </label>
                        <input asp-for="Entry.IdSupplier" class="form-control rounded-3" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label fw-semibold text-secondary">
                            Motif
                        </label>
                        <textarea asp-for="Entry.Reason"
                                  class="form-control rounded-3"
                                  rows="4"></textarea>
                    </div>

                    <button class="btn btn-danger w-100 rounded-pill py-2">
                        🚫 Ajouter à la blacklist
                    </button>

                </form>

            </div>
        </div>
    </div>
</div>
